
services:

  brigid:
    build:
      context: ./
      dockerfile: ./docker/Dockerfile

    volumes:
      - ${PWD}/:/repository
      - ${PWD}/.env:/repository/.env

    command:
      - "poetry"
      - "run"
      - "uvicorn"
      - "brigid.application.application:app"
      - "--host"
      - "0.0.0.0"
      - "--port"
      - "8000"
      - "--workers"
      - "1"
      - "--reload"
      - "--reload-include"
      - "*"

    ports:
      - "8000:8000"

  mcp-inspector:
    image: ghcr.io/modelcontextprotocol/inspector:latest

    network_mode: "host"

    environment:
      DANGEROUSLY_OMIT_AUTH: true

    # ports:
    #   - "6274:6274"
    #   - "6277:6277"
