
{% macro general_fields(meta_info, current_url) %}
  <meta charset="UTF-8">

  <link rel="icon" href="/favicon.ico">

  <link rel="canonical" href="{{current_url.url()}}">
  <link rel="alternate"
        type="application/atom+xml"
        title="{{meta_info.title}}"
        href="{{current_url.to_feeds_atom().url()}}" />


  {% for language in meta_info.allowed_languages %}
    {% if language == meta_info.language %}
      {% continue %}
    {% endif %}
    <link rel="alternate" hreflang="{{language}}" href="{{current_url.to_language(language).url()}}">
  {% endfor %}

  <title>{{meta_info.title}}</title>

  <meta name="description" content="{{meta_info.seo_description}}">

  <meta name="keywords" content="{{', '.join(meta_info.tags|sort)}}">

  <meta name="author" content="{{meta_info.author}}">

  <meta name="referrer" content="unsafe-URL">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if current_url.is_noindex() %}
    <meta name="robots" content="noindex">
  {% endif %}

{% endmacro %}


{% macro json_fd_article(meta_info, current_url) %}
  {# TODO: separate blocks for special pages like "about", "best"? #}
  {# TODO: prepare as a dict in Python and just dump to JSON #}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
    "headline": "{{meta_info.title}}",
    {% if meta_info.seo_image_url %}
      "image": [
        "{{meta_info.seo_image_url}}"
      ],
    {% endif %}
      "datePublished": "{{meta_info.published_at.isoformat()}}",
    {# TODO: add dateModified #}
      "author": [{
          "@type": "Person",
          "name": "{{meta_info.author}}",
          "url": "{{current_url.to_author().url()}}"
        }]
    }
    </script>
  {% endmacro %}


{% macro json_fd_website(meta_info, current_url) %}
  {# TODO: separate blocks for special pages like "about", "best"? #}
  {# TODO: prepare as a dict in Python and just dump to JSON #}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
    "headline": "{{meta_info.title}}",
    {% if meta_info.seo_image_url %}
      "image": [
        "./favicon.ico"
      ],
    {% endif %}
      "author": [{
          "@type": "Person",
          "name": "{{meta_info.author}}",
          "url": "{{current_url.to_author().url()}}"
        }]
    }
    </script>
{% endmacro %}


{% macro object_graph_fields_article(meta_info, current_url) %}
  <meta property="og:title" content="{{meta_info.title}}">
  {# TODO: separate type of "about" page — "profile" #}
  <meta property="og:type" content="article">

  <meta property="article:published_time" content="{{meta_info.published_at.isoformat()}}">
  {# TODO: add article:modified_time  #}
  <meta property="article:author" content="{{meta_info.author}}">

  {% for tag in meta_info.tags %}
    <meta property="article:tag" content="{{tag}}">
  {% endfor %}

  {% if meta_info.seo_image_url %}
    <meta property="og:image" content="{{meta_info.seo_image_url}}">
  {% endif %}

  <meta property="og:url" content="{{current_url.url()}}">

  <meta property="og:description" content="{{meta_info.seo_description}}">

  {# TODO: do we need to specify territories with langúage codes? #}
  {# og:locale - The locale these tags are marked up in. Of the format language_TERRITORY. Default is en_US. #}
  <meta property="og:locale" content="{{meta_info.language}}">

  {% for language in meta_info.allowed_languages %}
    {% if language == meta_info.language %}
      {% continue %}
    {% endif %}
    <meta property="og:locale:alternate" content="{{language}}">
  {% endfor %}

  <meta property="og:site_name" content="{{meta_info.site_title}}">

{% endmacro %}


{% macro object_graph_fields_website(meta_info, current_url) %}
  <meta property="og:title" content="{{meta_info.title}}">
  {# TODO: separate type of "about" page — "profile" #}
  <meta property="og:type" content="website">

  <meta property="article:author" content="{{meta_info.author}}">

  <meta property="og:image" content="./favicon.ico">

  <meta property="og:url" content="{{current_url.url()}}">

  <meta property="og:description" content="{{meta_info.seo_description}}">

  {# TODO: do we need to specify territories with langúage codes? #}
  {# og:locale - The locale these tags are marked up in. Of the format language_TERRITORY. Default is en_US. #}
  <meta property="og:locale" content="{{meta_info.language}}">

  {% for language in meta_info.allowed_languages %}
    {% if language == meta_info.language %}
      {% continue %}
    {% endif %}
    <meta property="og:locale:alternate" content="{{language}}">
  {% endfor %}

  <meta property="og:site_name" content="{{meta_info.site_title}}">

{% endmacro %}
