{% extends 'base.html.j2' %}
{% from 'last_posts.html.j2' import last_posts %}
{% from 'languages_links.html.j2' import languages_links %}
{% from "utils.html.j2" import page_anchor %}

{% block content %}
  <div class="brigid-article-main">

    <article class="brigid-article brigid-article-wide">
      <h1>
        {{page_anchor(page)}}
        {{languages_links(language, site, article)}}
      </h1>

      {{page|render_page}}

    </article>

  </div>

{% endblock %}
