{% from 'header.html.j2' import header %}
{% import "meta.html.j2" as meta %}
{% import "utils.html.j2" as utils %}

<!DOCTYPE html>
<html lang="{{info.language}}" prefix="og: https://ogp.me/ns#">
  <head>
    {{ meta.general_fields(meta_info, info.current_url) }}

    {% if page_info %}
      {{ meta.object_graph_fields_article(meta_info, info.current_url) }}
      {{ meta.json_fd_article(meta_info, info.current_url) }}
    {% else %}
      {{ meta.object_graph_fields_website(meta_info, info.current_url) }}
      {{ meta.json_fd_website(meta_info, info.current_url) }}
    {% endif %}

    <link rel="stylesheet" href="/static/main.css">

    {{ utils.call_plugins('render_head', info, meta_info, index_info, page_info) }}

    {% if site.header_html %}
      {{ site().header_html | safe }}
    {% endif %}

  </head>
  <body>
    <div id="brigid-body">
      {{ header(info.language, page_info and page_info.article) }}

      {{ utils.call_plugins('render_body_before_content', info, meta_info, index_info, page_info) }}

      {% block content %}{% endblock %}

      {{ utils.call_plugins('render_body_after_content', info, meta_info, index_info, page_info) }}

      {% set site_language = site.languages[info.language] %}

      <div class="brigid-footer brigid-article">
        <ul>
          {% if site_language.author %}
            <li>© {{ site_language.author }}</li>
          {% endif %}

          {% if site_language.license %}
            <li>
              {{translate_theme(info.language, 'license')|upper_first}}:
              <a href="{{ site_language.license.url }}" target="_blank">{{ site_language.license.name }}</a>
            </li>
          {% endif %}

          {% if site.content_repository %}
            <li>
              {{translate_theme(info.language, 'content_repository')|upper_first}}:
              <a href="{{ site.content_repository }}" target="_blank">{{site.content_repository}}</a>
            </li>
          {% endif %}

          {% if site.show_brigid_link %}
            <li>
              {{translate_theme(info.language, 'site_is_created_with')|upper_first}}
              <a href="{{brigid_repository()}}" target="_blank">Brigid</a>
            </li>
          {% endif %}

          <li>
            {{translate_theme(info.language, 'icons_attribution')|upper_first}}
          </li>
        </ul>
      </div>

      {% if site.footer_html %}
        {{ site.footer_html | safe }}
      {% endif %}

    </div>

  </body>
</html>
