
{% macro last_posts(language, number) %}
  <ul>
    {% set pages = get_storage().get_posts(language=language) %}

    {% for page in pages[:number] %}
      {% set article = get_storage().get_article(id=page.article_id) %}
      <li>
        <a href="{{root_url(language).to_post(article.slug).url()}}">{{page.title}}</a>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
