@layer components {

    .brigid-article {
        @apply prose prose-code:whitespace-pre-wrap prose-strong:font-medium prose-blockquote:font-normal;
        @apply prose-figure:mt-0 prose-figure:mb-2 prose-img:my-0 prose-img:rounded prose-figcaption:italic;
        @apply prose-a:font-normal;

        @apply max-w-none max-w-2xl grow;
        @apply border-b-4 border-double;
        @apply mb-8 pb-4 last-of-type:mb-0;

        strong a {
            @apply font-semibold;
        }

        a {
            @apply underline-offset-2 decoration-from-font decoration-orange-600;

            .brigid-link-language {
                @apply text-red-600;
            }
        }

        a.brigid-important-link {
            @apply font-medium;
        }

        &.brigid-article-wide {
            @apply max-w-5xl;

            .brigid-article-columns {
                @apply flex flex-wrap;

                .brigid-article-column {
                    @apply w-full md:w-1/2;
                }

                .brigid-article-column:first-child {
                    @apply md:pr-4;
                }

                .brigid-article-column:last-child {
                    @apply md:pl-4;
                }
            }
        }
    }
}
